*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-transform: capitalize;
}

body{
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
  background: rgb(15, 0, 31);
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header-container span{
  font-size: 50px;
  font-family: "Italianno", cursive;
  font-weight: bold;
}
.nav-content{
    padding: 0;
}
.nav-content li , a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  backdrop-filter: blur(110px);
  position: relative;
  z-index: 1;
}
.nav-content li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 13px;
    border: 1px solid #ddd;
}
.nav-content li:hover::after{
  background: rgb(72, 135, 183);
  filter: blur(10px);
    border-radius: 13px;
}


